/* Blog section */

.blogSection{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: max-content;
    width: 100%;
    position: relative;
    margin: 2rem 0 7rem 0;
}

.blogSection h2{
    margin-bottom: 5rem;
    font-size: 3.5rem;
}

.swiperContainer{
    display: flex;
    flex-direction: row;
    gap: 15rem;
}

[class^="subContainer-"] h5{
    font-size: 1.75rem;
    margin-bottom: 1rem;
    text-decoration: overline var(--dark-gray);
}

.swiper {
    width: 20vw;
}
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-weight: bold;
    color: var(--black);
    flex-direction: column;
    background-color: var(--white);
}
  
  .swiper-slide img {
    height: 40%;
  }

  .swiper-slide h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .swiper-slide p{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--dark-gray);
    text-align: left;
    padding-inline: 2rem;
  }

  .swiper-slide h5 {
    text-decoration: none;
    text-align: left;
    padding-inline: 2rem;
    margin-top: .25rem;
    font-size: 1.25rem;

  }

  .blogImg{
    width: 100%;

  }

  .arrow-blog{
    font-size: 1rem !important;
    margin-left: .75rem;
    padding-top: .1rem;
  }