.account-block {
  display: flex;
  width: 55%;
  justify-content: center;
  align-items: centers;
  flex-direction: column;
}

.account-head {
  display: flex;
  justify-content: space-between;
}

.amount-plus-curr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.amount-main-acc {
  font-size: 2rem;
  font-weight: 700;
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.currency span {
  color: var(--darker-gray);
}

.account-options {
  display: flex;
  gap: 2rem;
}

[class$='button-head'] {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
}

[class$='button-head']:hover {
  border-radius: 10%;
}

.transfer-button-head {
  background-color: var(--white);
}

.deposit-button-head {
  background-color: var(--cyan);
}

.button-icons {
  font-size: 2.5rem !important;
}

.transfer-button-head .button-icons{
  font-size: 2rem !important;
}

.withdraw-button-head {
  background-color: var(--white);
}

.withdraw-button-head .button-icons {
  font-size: 2.25rem !important;
}

.account-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30rem;
  align-items: center;
  text-align: center;
  margin-block: .75rem;
}

.acc-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.add-acc-button {
  color: var(--cyan);
  font-size: 1.125rem;
  font-weight: 400;
  transition: all 250ms ease-in-out;
}

.add-acc-button:hover{
  color: #0ecfa8;
}

.container-separate-blocks {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.separate-acc-block {
  border-radius: 2rem;
  box-shadow: var(--shadow);
  background-color: var(--white);
  min-height: 10rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.acc-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.acc-type {
  font-weight: 600;
  font-size: 1.125rem;
}

.acc-curr {
  color: rgb(113, 112, 112);
  margin-top: .25rem;
}

.acc-amount {
  margin-top: 2.25rem;
  font-size: 1.125rem;
}

.transfer-button{
  background-color: rgba(0, 0, 0, 0.872) !important;
}

.transfer-button:is(:hover, :focus){
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.withdraw-button{
  background-color: rgba(0, 0, 0, 0.872) !important;
  margin-top: .5rem !important;
}

.withdraw-button:is(:hover, :focus){
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.modal-account{
  max-width: 30vw;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-field-acc{
  margin-block: 1rem;
}

.payment-providers h3{
  margin-block: 1rem;
}

.container-deposit-buttons{
  display: grid;
  justify-items:legacy;
  gap: 1rem;
  width: 100%;
  align-items: center;
  margin-inline: auto;
}

.google-apple-pay{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.deposit-button{
  background-color: rgba(0, 0, 0, 0.872) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in-out;
  width: 50%;
}

.internet-deposit{
  width: 100% !important;
}

.deposit-button:is(:hover, :focus){
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.payment-icon-google{
  width: 50px;
}

.payment-icon-apple{
  margin-right: .75rem;
  width: 30px;
}

.payment-icon-internet{
  margin-right: .75rem;
  width: 30px;
}

