.header {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  line-height: 0;
  box-shadow: 2px 7px 10px var(--middle-gray) !important;
  border-radius: 0 0 1rem 1rem !important;
}

.btc-logo {
  font-size: 2rem !important;
  line-height: 1 !important;
  margin-bottom: 0.5rem !important;
  color: var(--black) !important;
}

.nav-links {
  color: black !important;
  display: block !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
  background-color: #cccaca !important;
  border-radius: 1.5rem !important;
  margin-inline: 0.35rem !important;
  text-transform: none !important;
  transition: all 250ms ease-in-out;
  padding-inline: 1rem !important;
}

.nav-links:hover {
  background-color: #dddbdb !important;
  color: var(--black) !important;
  transition: all 250ms ease-in-out;
}

.active-button {
  background-color: var(--cyan) !important;
  color: var(--white) !important;
  transition: all 250ms ease-in-out;
}

.menu-items {
  font-size: 2rem;
}
