/*===== Profile =====*/

.profile-section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 20vw 80vw;
  min-height: 75vh;
}

.profile-aside {
  background-color: var(--white);
  padding: 3rem 2rem;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}

.avatar-profile {
  scale: 1.2;
}

.user div {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.user div button {
  margin-inline-end: 5rem;
  text-decoration: underline;
  display: flex;
}

.user div button:is(:hover, :focus) {
  color: var(--black);
}

.list-setting-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}

.profile-icons {
  font-size: 1.5rem !important;
}

.list-settings {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 3rem;
}

.list-settings button {
  text-align: left;
  margin-block: 0.75rem;
  transition: all 250ms ease-in-out;
  margin-left: 1rem;
}

.list-settings button:is(:hover, :focus) {
  color: var(--middle-gray);
}

.list-settings .listSettingBlock {
  display: flex;
  flex-direction: row;
}

.list-settings .listSettingBlock:nth-child(6) {
  margin-top: 15rem;
}

.profile-main {
  background-color: var(--lighter-gray);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
