/*-----------------------------------*\
    #BACK TO TOP
    \*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: -50px;
  right: 20px;
  background-color: hsl(0, 0%, 3%);
  color: #f0e5e5;
  font-size: 2.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);
  transition: all 250ms ease-in-out;
  visibility: hidden;
  z-index: 2;
}

.back-top-btn:is(:hover, :focus-visible) {
  background-color: hsla(0, 0%, 100%, 1);
  color: hsl(0, 0%, 3%);
  font-size: 2.75rem;
}

.back-top-btn.active {
  visibility: visible;
  transform: translateY(-70px);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.bx-chevron-up {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
