/* Personal Information */
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    margin: 0 auto;
  }

  .formContainer input{
    width: 30rem;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .passwordRequirements {
    font-size: 12px;
    margin-top: 8px;
  }

  .iconSubDiv{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .iconMainDiv{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    gap: 2rem;
  }
  
/* End of Personal Information */
